body{
    margin: 0px;
}


nav{
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../img/immagini/jumbo.png");
    background-size: 100% auto
}


.uno,.tre{
    min-width: 50px;
}


.primo_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.uno{
    text-align: left;
}

.due{
    min-width: 900px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    color: white;
}
.tre{
    text-align: right;
    background-color: white;
    padding: 0 10px;
    margin: 0px;
    border-radius: 50px;
}
.primo_bottone,.primo_bottone2>img{
    height: 20px;
    padding-right: 5px;
    color: white;
}
.primo_bottone{
    padding:  15px 25px;
    display: flex;
    background-color: white;
    border-radius: 25px;
}
.primo_bottone2{
    padding:  15px 25px;
    display: flex;
    background-color: lightblue;
    border-radius: 25px;
}
.secondo_bottone{
    padding:  15px 25px;
    color: white;
   background-color: black;
   border-radius: 25px;
}
.due_bottoni{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 500px;
}

.secondo_container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.rosa>h1{
    padding-top: 30px;
    font-size: 50px;
    color: white;
}
.secondo_container>h2{
    padding: 0 500px;
    color: white;
}

.terzo_container, .quarto_container,.quinto_container,.sesto_container{
    display: flex;
    justify-content: center;
    justify-content: space-around ;
    margin-left: 20%;
    margin-right: 20%;
}

.settimo_container,.ottavo_container{
    display: flex;
    justify-content: center;
    align-content: space-around;
    background-color: darkgrey;
}
.rosa_due,.verdino{
    display: flex;
    flex-direction: column;
}

.dritto{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 20px;
    
}
.dritto>h2{
    margin: 0px;
    margin-left: 10px;
}

.blue_{
    align-self: center;
    width: 60%;
    margin: 20px 0;
    align-self: center;
}


 .sesto_container{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.verdino>h1{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.verdino>h2{
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}



.blue_ottavo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 60%;
    margin: 20px 0;
    background-color: lightblue;
}

.colore{

    background-color: pink;
    padding: 10px;
}





